.SearchInput {
    width: 24vw;
    font-size: 1em;
}

.DropdownList {
    display: flex;
    flex-direction: column;

    margin-top: 1em;

    border-radius: 8px;
    background-color: rgb(255, 255, 255);

    overflow-x: hidden;
    overflow-y: auto;

    width: 35vw;
    height: fit-content;
    max-height: 10em;
}

.DropdownList > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 6px;

    color: rgb(0, 0, 0);
    min-height: 3em;

    padding-left: 0.5em;
    padding-right: 0.5em;

    cursor: pointer;
}

.DropdownList > div:not(:last-child) {
    box-sizing: border-box;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.DropdownList > div:nth-child(odd) {
    background-color: rgb(200, 200, 200);
}

.DropdownList > div:nth-child(odd):hover {
    background-color: rgb(150, 150, 150);
}

.DropdownList > div:nth-child(even):hover {
    background-color: rgb(175, 175, 175);
}

.ArticleWizard > column {
    width: 50%;
    gap: 1em;

    background-color: rgba(255, 255, 255, 0.125);

    padding: 1em;

    border-radius: 8px;
}

.ArticleWizard > column div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ArticleWizard > column div > * {
    border-radius: 0;
}

.ArticleWizard > column div > *:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ArticleWizard > column div > *:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.ArticleWizard textarea {
    resize: none;
    border-radius: 8px;
    padding-top: 1em;
}

.ArticleContent {
    position: relative;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 8px;
    width: 50%;
    height: fit-content;
    left: 25%;

    padding-bottom: 2em;

    overflow: hidden;
}

.ArticleContent > header {
    font-size: 2em;
}

.ArticleContent > .Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    margin: 1em;
    padding: 0.5em;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;

    max-height: 18em;

    overflow-x: hidden;
    overflow-y: auto;
}

.ArticleContent > .Content > * {
    color: rgb(0, 0, 0);
}

.ArticleContent > .Content video,
.ArticleContent > .Content img {
    max-width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
}

.ArticleContent > .Content > header {
    font-size: var(--Size);
}

.ArticleContent > .Content > b {
    font-weight: 900;
}

.ArticleContent > .Content > *[href] {
    color: rgb(120, 120, 255);
    text-decoration: underline;
    cursor: pointer;
}

.ArticleContent > .Bottombar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-self: center;
    gap: 0.5em;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;

    background-color: rgba(155, 155, 155, 0.125);
}

.ArticleContent > .Bottombar > span {
    cursor: pointer;

    padding-left: 1em;
    padding-right: 1em;
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 0.125);
}

.ArticleContent > .Bottombar > span:hover {
    filter: brightness(1.25);
    background-color: rgba(255, 255, 255, 0.25);
}

.ArticleContent > .Bottombar > span:first-child {
    margin-right: 0.5em;
}